.gradle/
build/
**/build/
local.properties
.idea/
*.iml
.cxx/
.externalNativeBuild/
captures/
keystore.properties
.keystore-local-creds.txt
app/vault-release.jks
app/release-ci.jks
release-ci.jks
*.apk
*.aab
*.dex
*.class
